#ignore bulky data folder and objects folder 
objects/2023-09-18_GIANA-MyositisInput-CMV.txt 
objects/2023-09-18_GIANA-MyositisInput-CMV--RotationEncodingBL62.txt
objects/2023-09-17_GIANA-MyositisInput-HMGCR--RotationEncodingBL62.txt
objects/2023-09-17_GIANA-MyositisInput-HMGCR.txt

